rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /playlists/{docId} {
      // allow read and create if user is logged in
      allow read, create: if request.auth != null
      // allow delete and update by checking ownership from firestore(userId)
      allow delete, update: if request.auth.uid == resource.data.userId
    }
  }
}